# Deep Learning Locust Prediction in Ethiopia using Remote Sensing Data

### Semester Project SS 2021 @ Advanced Programming for Remote Sensing
#### Julius-Maximilians-Universität Würzburg

This is a semester project for the course advanced programming aiming to use deep learning model and real-time climate variables to predict the emergence of locust swarms using data from Locust hub.

***
## Description

From Google Earth Engine, multiple csv files are created for all locust presence and absence data points. They includes 6 spectral bands from **Landsat 5,7,8**, as well as 19 selected variables from the **NASA FLDAS** (Famine Early Warning Systems Network) dataset, which is data assimilation designed for assisting food security by combining remote sensing data such as CHIRPS and MODIS. all time series data from 1985 to 2015. The variables included for example total precipitation, soil moisture and soil tempoerature. In order to creating training data, we need to remove unrelevant time series data for every row according to the occurence datetime of the data points. It will be done in python to post-process the data.

**Tasks:**
* Extract information from Landsat and FLDAS time series
***

#### Import Libraries

In [ ]:
#@title Load Python libraries

! pip install pandas fiona shapely pyproj rtree
! pip install alpha_vantage -q
! pip install regions
! pip install geopandas

# pip install numpy
import numpy as np


# pip install torch
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
from torch.utils.data import Dataset
from torch.utils.data import DataLoader
import regions

import pandas as pd
import seaborn as sns
import datetime

#pip install matplotlib
import matplotlib
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import matplotlib.animation as animation

# pip install alpha_vantage
from alpha_vantage.timeseries import TimeSeries 

from geopandas.tools import sjoin

print("All libraries loaded")

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Collecting fiona
  Downloading Fiona-1.8.20-cp37-cp37m-manylinux1_x86_64.whl (15.4 MB)
     |████████████████████████████████| 15.4 MB 34 kB/s
Requirement already satisfied: shapely in /usr/local/lib/python3.7/dist-packages (1.7.1)
Collecting pyproj
  Downloading pyproj-3.2.0-cp37-cp37m-manylinux_2_24_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 17.4 MB/s
Collecting rtree
  Downloading Rtree-0.9.7-cp37-cp37m-manylinux2010_x86_64.whl (994 kB)
     |████████████████████████████████| 994 kB 52.0 MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona) (21.2.0)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona) (2021.5.30)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona) (57.4.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona) (7.1.2)
Installing collected packages: munch, cligj, click-plugins, rtree, pyproj, fiona
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.20 munch-2.5.0 pyproj-3.2.0 rtree-0.9.7
     |████████████████████████████████| 1.3 MB 8.3 MB/s
     |████████████████████████████████| 142 kB 67.7 MB/s
     |████████████████████████████████| 294 kB 59.6 MB/s
Collecting regions
  Downloading regions-0.5-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (744 kB)
     |████████████████████████████████| 744 kB 5.3 MB/s
Requirement already satisfied: astropy>=3.2 in /usr/local/lib/python3.7/dist-packages (from regions) (4.3.1)
Requirement already satisfied: numpy>=1.16 in /usr/local/lib/python3.7/dist-packages (from regions) (1.19.5)
Requirement already satisfied: pyerfa>=1.7.3 in /usr/local/lib/python3.7/dist-packages (from astropy>=3.2->regions) (2.0.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from astropy>=3.2->regions) (4.6.4)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->astropy>=3.2->regions) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->astropy>=3.2->regions) (3.5.0)
Installing collected packages: regions
Successfully installed regions-0.5
Collecting geopandas
  Downloading geopandas-0.9.0-py2.py3-none-any.whl (994 kB)
     |████████████████████████████████| 994 kB 5.4 MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.7.1)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (3.2.0)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.20)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.5.30)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.2.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (1.19.5)
Installing collected packages: geopandas
Successfully installed geopandas-0.9.0
All libraries loaded

#### Set up environment

In [ ]:
config = {
    #"alpha_vantage": {
    #    "key": "YOUR_API_KEY", # Claim your free API key here: https://www.alphavantage.co/support/#api-key
     #   "symbol": "IBM",
     #   "outputsize": "full",
     #   "key_adjusted_close": "5. adjusted close",
    #},
    "data": {
        "window_size": 20,
        "train_split_size": 0.80,
    }, 
    "plots": {
        "show_plots": True,
        "xticks_interval": 90,
        "color_actual": "#001f3f",
        "color_train": "#3D9970",
        "color_val": "#0074D9",
        "color_pred_train": "#3D9970",
        "color_pred_val": "#0074D9",
        "color_pred_test": "#FF4136",
    },
    "model": {
        "input_size": 1, # since we are only using 1 feature, close price
        "num_lstm_layers": 2,
        "lstm_size": 32,
        "dropout": 0.2,
    },
    "training": {
        "device": "cpu", # "cuda" or "cpu"
        "batch_size": 64,
        "num_epoch": 100,
        "learning_rate": 0.01,
        "scheduler_step_size": 40,
    }
}

## GEE output Postprocessing

#### Import Data

In [ ]:
# select the "Landsat_06_07.csv" from your local project drive
from google.colab import files
uploaded = files.upload()

# see the head of the dataframe
import io
import pandas as pd

df_fldas = pd.read_csv(io.BytesIO(uploaded['Landsat_06_07.csv']))

Saving Landsat_06_07.csv to Landsat_06_07.csv

In [ ]:
df_fldas.tail()

                  system:index  ...                                               .geo
41998  23_000000000000000004cb  ...  {"geodesic":false,"type":"Polygon","coordinate...
41999  23_000000000000000004c6  ...  {"geodesic":false,"type":"Polygon","coordinate...
42000  23_000000000000000004d2  ...  {"geodesic":false,"type":"Polygon","coordinate...
42001  23_000000000000000004c2  ...  {"geodesic":false,"type":"Polygon","coordinate...
42002  23_000000000000000004f2  ...  {"geodesic":false,"type":"Polygon","coordinate...

[5 rows x 18 columns]

In the csv file, there are data columns for every month for all years and two columns of year and month. for every row, we need to extract the value in the column with the datetime matching with the year and month columns, in order to get the climate/weather variables in the real-time relative to the occurence of the locust outbreak in records.

In the dataframe, there are two months and years columns. "year" and "month" represent the timestamp of the climate variables, whereas "Year" and "Month" represent the occurence date of the locust outbreak in this datapoint. In order to extract the "real-time" information, we need to only keep rows that "year" and "Year" match, as well as "month" and "Month" match.

In [ ]:
# remove unneeded columns
df_fldas = df_fldas.drop(columns=['system:index', 'timestamp', '.geo'])

In [ ]:
# set all year and month columns to integer
df_fldas['year'] = df_fldas['year'].astype('int64')
df_fldas['month'] = df_fldas['month'].astype('int64')
df_fldas['Year'] = df_fldas['Year'].astype('int64')
df_fldas['Month'] = df_fldas['Month'].astype('int64')

In [ ]:
df_fldas.head()

         Blue        Green  Month          NIR  ...        date     id  month  year
0  736.479839  1045.463710      2  1993.467742  ...  2006-01-01  25357      1  2006
1  736.479839  1045.463710      2  1993.467742  ...  2006-01-01  25368      1  2006
2  632.755020   820.088353      2  1667.662651  ...  2006-01-01  25388      1  2006
3  737.110672  1070.318182      2  2611.521739  ...  2006-01-01  25336      1  2006
4  737.110672  1070.318182      2  2611.521739  ...  2006-01-01  25385      1  2006

[5 rows x 15 columns]

In [ ]:
# set up a condition to indicate weather the time information match with the locust occurence
condition = np.logical_and(df_fldas.Year == df_fldas.year, df_fldas.Month == df_fldas.month)
df_fldas = df_fldas.assign(match = np.where(condition,1,0))

In [ ]:
df_fldas.match.describe()

count    42003.000000
mean         0.043092
std          0.203067
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: match, dtype: float64

In [ ]:
# Keep only rows that match
sub_df = df_fldas[df_fldas.match == 1]

In [ ]:
# Delete unneeded columns
sub_df = sub_df.drop(columns=['year','month','date'])

In [ ]:
sub_df = sub_df.drop(columns=['match'])

In [ ]:
sub_df.head()

            Blue        Green  Month  ...          Y  Year     id
712  1072.092000  1707.660000      1  ...  16.060265  2006  25204
713   385.428571   507.928571      1  ...   7.432943  2006  25236
714   385.428571   507.928571      1  ...   7.432943  2006  25282
715   385.428571   507.928571      1  ...   7.432943  2006  25288
716   598.150235   695.169014      1  ...   6.874051  2006  25201

[5 rows x 12 columns]

## Data Export

In [ ]:
from google.colab import drive
drive.mount('drive')

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).

In [ ]:
sub_df.to_csv('Landsat_06_07_extracted.csv')
!cp Landsat_06_07_extracted.csv "drive/My Drive/"